{% extends "about.html" %}
{% load staticfiles %}
{% block main_content %}
    <h1 class="text-center">
        <img src="{% static 'images/sun.png' %}" class="sun">
        Новости
        <img src="{% static 'images/moon.png' %}" class="moon">
    </h1>
    <article>
        <h4>{{ article.name }}</h4>
        <time>{{ article.date }}</time>
        <div class="article_text">
            {% if article.text %}
                {{ article.text|safe }}
            {% else %}
                {{ article.announce|safe }}
            {% endif %}
        </div>
        <a href="{% url 'news:list'%}">к списку новостей</a>
    </article>
{% endblock %}
