{#{% extends "base.html" %}#}
{% load humanize %}
{% block content %}
    {% if apartments %}
        <table class="table table-striped table-hover apt-list" id="apt-list"
               data-minprice="{{ limits.min_price }}" data-maxprice="{{ limits.max_price }}"
               data-minsquare="{{ limits.min_square|stringformat:"f" }}" data-maxsquare="{{ limits.max_square|stringformat:"f" }}"
                >
        <tbody>
        {% for apartment in apartments %}
            <tr>
                <td><div class="text-center"><a class="apt-detail-link apt-code" data-apt="{{ apartment.code }}" href="#{{ apartment.building.code }}/apartments/{{ apartment.code }}">{{ apartment.code }}</a></div></td>
                <td><div class="text-center apt-status" data-status="{{ apartment.status }}">{{ apartment.get_status_display }}</div></td>
                <td><div class="text-center apt-square" data-square="{{ apartment.square }}">{{ apartment.square }} м<sup>2</sup></div></td>
                <td><div class="text-center apt-layout" data-layout="{{ apartment.layout_type_id }}" data-sea="{{ apartment.sea_view }}" data-terrace="{{ apartment.terrace }}" data-lawn="{{ apartment.lawn }}">{{ apartment.layout_type }}</div></td>
                <td><div class="text-center apt-price" data-price="{{ apartment.price }}">
                    {% if apartment.status == 2 %}
                        —
                    {% else %}
                    {{ apartment.price|intcomma }} руб
                    {% endif %}
                </div></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
    <div class="hide no-result">
        <div class="no-result-content">
            <div class="no_result_wrap text-center">
                <div class="number">0</div>
                <p class="not_found">Мы не нашли таких апартаментов</p>
                <p class="go_back">Попробуйте смягчить условия поиска, или <a href="{% url "feedback:form" %}" id="feedback_er404">закажите экскурсию</a> по корпусу {{ building.name }}</p>
            </div>
        </div>
    </div>
{% endblock %}