h1 { margin-bottom: 26px; letter-spacing: 6px; }
h3 {
    margin-top: 0;
    font-size: 21px;
    letter-spacing: 1px;
    color: #42464d;
    font-family: "PT Sans Narrow", sans-serif;

    font-weight: normal;
}
.doc_header p { font-size: 12px; margin-top: -12px; }
.wrap-certificate {
    width: 108px;
    height: 144px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    border: 1px solid #a8a8a8;
    padding: 10px 8px;
    margin-right: 22px;
}
.wrap-certificate img {
    border: 1px solid #aba8a3;
}
.certificates {
    list-style: none;
    margin: 0;
    padding: 0;
}
.all_certificates {
    width: 540px;
    margin: 30px auto;
}
.certificates li {
    margin-bottom: 4px;
    font-size: 16px;
}
.certificates li span { color: #3366cc; }

.other_docs a {
    font-size: 16px;
    display: inline-block;
    width: 140px;
    margin-bottom: 4px;
}
.other_docs p { font-size: 12px; }

body .fancybox-skin {
    padding: 40px 100px 100px 100px !important;
}
body .fancybox-prev { left: -77px; }
body .fancybox-prev span {
    background: url("../images/arrow_left.png") 0 0 no-repeat;
    left: 0px;
    width: 74px;
    height: 74px;
}
body .fancybox-next { right: -88px; }
body .fancybox-next span {
    background: url("../images/arrow_right.png") 0 0 no-repeat;
    right: 0px;
    height: 74px;
    width: 74px;
}